html, body {
    width: 100%;
    height: 100%;
    margin : 0 auto;
    padding : 0;
    border : none;    
}

#calendar {            
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.fc-event-title.fc-sticky {
    font-size: 6px;
    text-align: center;
    width: 100%;
    height: 100%;
}

#yearMonthDayText {
    text-align: center !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.fc-h-event {
    border: none;
    background-color: #7eaaaf;
}