.section {
    margin-bottom: 40px;
}

.radio-label {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;  
    margin-bottom: 10px;           
}

#customConfirmModal {
    display: none;
}

/* ========================================================================================================= */
/*                                              모달화면                                                      */
/* ========================================================================================================= */

/* 모달을 감싸는 paper */
.modal-wrapper {
    display: none; /* 모달을 초기에 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 배경을 반투명으로 만듦 */
    z-index: 555;
    justify-content: center;
    align-items: center;
    display: none;
}

/* 모달 */
.modal {
    width: 350px;
    height: 200px; 
}

/* 모달 내용 */
.modal-content {
    background-color: #ffffff;
    width: calc(100% - 30px); /* 패딩을 고려하여 크기 설정 */
    height: calc(100% - 30px); /* 패딩을 고려하여 크기 설정 */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    text-align: center; /* 텍스트를 가운데 정렬 */
}

/* 모달 닫기 버튼 */
#closeModalBtn {
    display: block;
}

/* 버튼 컨테이너 스타일 */
.button-container {
    display: flex; /* 버튼 컨테이너를 가로로 정렬 */
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
    margin-top: 50px; /* 버튼과 내용 사이 간격 조절 */
}

/* 그레이 버튼 */
.gray-button {
    background-color: #b6b6b6;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}

/* 블루 버튼 */
.blue-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}

/* 각 버튼의 flex 설정 */
.button-container button {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}