.section {
    margin-bottom: 39px;
}

.radio-label {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #99c4ca;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: large;
    letter-spacing: 1px;
}

#dateSearchBox{
    border: 2px solid #ccdcdf;
    border-radius: 4px;
    height: 4.8rem;
    padding-top: 0.6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #CCE2E4;
}

#customConfirmModal {
    display: none;
}

#btnAdd {
    margin-right: 10px; 
    width: 30%;
}

/* ========================================================================================================= */
/*                                              통계차트                                                      */
/* ========================================================================================================= */
#barchart {
    width: 100%; 
    height: auto; 
}

/* ========================================================================================================= */
/*                                              모달화면                                                      */
/* ========================================================================================================= */

/* 날짜검색 */
.dateSearch {
    display: flex;
    align-items: center; /* 아이템들을 세로 가운데 정렬 */
    margin-bottom: 0.36rem;
}

.dateSearch input {
    width: 50%;
    padding: 5px; /* 내부 여백 추가 */
    box-sizing: border-box; /* 입력 필드의 크기를 컨텐츠와 패딩으로 계산하도록 설정 */
    pointer-events: none;
    border: 1px solid #99c4ca;
}

.dateSearch img {
    float: right;
    width: auto;
    height: 23px;    
    margin: 0 5px; /* 이미지 사이의 간격 조절 */
}

.dateSearch span {
    margin: 0 5px; /* 텍스트(~)의 양 옆 간격 조절 */
}

/* 둘째 줄의 입력박스 */
.dateSearch #savingAmount {
    width: 100%;
    padding: 5px; /* 내부 여백 추가 */
    margin-top: 5px;
    box-sizing: border-box; /* 입력 필드의 크기를 컨텐츠와 패딩으로 계산하도록 설정 */
    pointer-events: none;
}

.btn_download {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px; 
}

.btn_download img {
    width: auto;
    height: 100px;
}

#cumulativeAmount {
    border: 1px solid #888888;
    border-radius: 3px;
}



/* ========================================================================================================= */
/*                                              모달-달력                                                      */
/* ========================================================================================================= */

/* [컨테이너 크기 설정] */
#calendar {            
    width: 100%;
    height: 100%;
}

/* 모달을 감싸는 paper */
.calendar-wrapper {
    display: none; /* 모달을 초기에 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 배경을 반투명으로 만듦 */
    z-index: 666;
    justify-content: center;
    align-items: center;
    display: none;
}